header{
    text-align: center;
    padding: 10px;
    color: royalblue;
}
button{
    padding-block: 8px;
    margin: 10px;


}

a.hover{
    color: goldenrod;
}

.containerOne{
   text-align: center;
    margin-bottom: 10%;
}

.containerTwo{
    text-align: center;
}

